/* Denna fil skall innehålla din CSS kod */

body {
    margin: 0;
    /*background-color: aqua;*/
    background-color: #b58b63;
}

.wrapper {
    width: 100%;
    height: 300vh;
    display: grid;
}

#wrapper_home {
    height: 300vh;
    grid-template-rows: 5% 2% 5fr 2fr 5fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h1 h1"
    "nv nv"
    "wp wp"
    "wt wt"
    "sc sc"
    "ft ft";
}

#wrapper_meny {
    height: 100vh;
    grid-template-rows: 15% 6% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h1 h1"
    "nv nv"
    "mn mn";
}

#wrapper_about {
    height: 100vh;
    grid-template-rows: 15% 6% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h1 h1"
    "nv nv"
    "hi xx";
}

header {
    grid-area: h1;
    background-color: #a5b58d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2 {

}

nav {
    display: flex;
    padding: 0 20px 0 20px;
    grid-area: nv;
    justify-content: space-between;
    align-items: center;
    background-color: #f6efe8;
    margin: 0 20px 0 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

#homeButton {
    order: 1;
}

#menyButton {
    order: 2;
}

#aboutUsButton {
    order: 3;
}

#welcomePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6efe8;
    font-size: 1.5rem;
    grid-area: wp;
    background-image: url("../img/cafe_interior.jpg");
    /* background-attachment: fixed; */
     margin: 20px 40px 0 40px;
    
}

.image {
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border: #f6efe8 solid;
    background-position: center;
}

#welcomeText {
    grid-area: wt;
    margin: 40px;
}

section {
    display: grid;
    /* background-color:aqua; */
    gap: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 60px 20px 60px;
    grid-area: sc;
}

.home_food_preview {
    background-color: blue;
    width: 100%;
    border-radius: 15px;
}

#food_example1 {
    background-image: url("../img/food_example1.jpg");
}

#food_example2 {
    background-image: url("../img/food_example2.jpg");
}

#food_example3 {
    background-image: url("../img/food_example3.jpg");
}

h4 {
    margin: 0;
}

.textbox {
    border-radius: 15px;
    background-color: #f6efe8;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    border: #a5b58d solid;
}

.meny_food_preview {
    background-color: blue;
    width: 15%;
    border-radius: 15px;
}

footer {
    display: flex;
    background-color: rgb(78, 70, 74);
    justify-content: flex-start;
    gap: 4em;
    grid-area: ft;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    grid-area: mn;
}

.food_options {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0 40px 0 40px;
    height: 100%;
}

h3 {

    align-self: center;
    margin: 0;
}

#contact {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 15px;
}

#book {
    align-self: flex-start;
    margin: 20px;
    margin-left: 50px;
}

#lunch1 {
    background-image: url("../img/lunch1.jpg");
}

#lunch2 {
    background-image: url("../img/lunch2.jpg");
}

#lunch3 {
    background-image: url("../img/lunch3.jpg");
}

#fika1 {
    background-image: url("../img/fika1.jpg");
}

#fika2 {
    background-image: url("../img/fika2.jpg");
}

#fika3 {
    background-image: url("../img/fika3.jpeg");
}

#drink1 {
    background-image: url("../img/drink1.jpg");
}

#drink2 {
    background-image: url("../img/drink2.jpg");
}

#drink3 {
    background-image: url("../img/drink3.jpg");
}

.show_more_button {
    align-self: center;
    margin-bottom: 20px;
}

#history {
    margin-top: 20px;
    margin-left: 20px; 
    padding-right: 15px;
    grid-area: hi;
}

#location {
    background-image: url("../img/location.jpg");
    border: #a5b58d solid;
    margin: 20px 20px 15px 40px;
}