/* Denna fil skall innehålla din CSS kod */

body {
    margin: 0;
    /*background-color: aqua;*/
    background-color: #b58b63;
}

.wrapper {
    width: 100%;
    height: 300vh;
    display: grid;
}

#wrapper_home {
    height: 300vh;
    grid-template-rows: 5% 2% 5fr 2fr 5fr 3fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h1 h1"
    "nv nv"
    "wp wp"
    "wt wt"
    "sc sc"
    "ft ft";
}

#wrapper_meny {
    height: 100vh;
    grid-template-rows: 15% 6% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h1 h1"
    "nv nv"
    "mn mn"
}

header {
    grid-area: h1;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
}

nav {
    display: flex;
    padding: 0 20px 0 20px;
    grid-area: nv;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    margin: 0 20px 0 20px;
}

a {
    text-decoration: none;
    color: #000000;
}
#homeButton {
    order: 1;
}

#menyButton {
    order: 2;
}

#aboutUsButton {
    order: 3;
}

#welcomePicture {
    display: flex;
    justify-content: center;
    color: white;
    grid-area: wp;
    background-color: green;
    background-image: url("../img/");
    margin: 20px 40px 0 40px
}

.background-image {
    border-radius: 15px;
}

#welcomeText {
    grid-area: wt;
    margin: 0 60px 0 ;
}

section {
    display: grid;
    background-color:aqua;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 60px 20px 60px;
    grid-area: sc;
}

.home_food_preview {
    background-color: blue;
    width: 100%;
    border-radius: 15px;
}

.meny_food_preview {
    background-color: blue;
    width: 15%;
    border-radius: 15px;
}

footer {
    display: flex;
    background-color: rgb(78, 70, 74);
    grid-area: ft;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
    grid-area: mn;
}

.food_options {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0 40px 0 40px;
    height: 100%;
}

h3 {
    background-color: green;
    align-self: center;
    margin: 0;
}

#warm_options {
    background-color: red;
}

#fika {
    background-color: purple;
}

#drink_options {
    background-color: bisque;
}

.show_more_button {
    text-decoration: dotted;
    align-self: center;
    margin-bottom: 20px;
}